@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@200&display=swap');

html{
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

body{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 color:rgba(248, 248, 248, 0.938);
}



/* NAVBAR SECTION*/
 .container{
  width: 90%;
  margin: auto;
  overflow: hidden;
}

/* top header */
#top{
  background: rgb(54, 54, 54);
}
.socail-media{
  float: left;
}
.contact-info{
  float: right;
    
}

.contact-info p {
  padding: 7px;
  margin-right: 8px;
  display: inline-flex;
}
.socail-media a.fa{
  margin: 5px;
  cursor: pointer;
  color: rgb(199, 187, 187);
  font-size: 16px;
  padding: 5px;
  text-decoration: none;
}
.contact-info i.fa{
  margin: 5px;
  cursor: pointer;
  color: rgb(223,219,219);
  font-size: 16px;
  padding: 5px;
}

/* navbar and logo */
nav{
  border-top: 2px solid rgb(95, 94, 94);
  background-color: #fff;
}

.logo{
  float: left;
  width: 60px;
  filter: drop-shadow(5px 5px 8px gray);
}
ul{
  float: right;
}
ul{
  list-style-type: none;
}
li{
  float: left;
  font-size: 12px;
  padding-top: 23px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 3% ;
}
ul li a{
  padding: 13px;
  text-decoration: none;
  color: #000;
}
ul li a:hover{
  color: red;
  transition: 0.9s;
}

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
}

/* HOME PAGE */


   .slider{
	position: relative;
	width: 100%;   
}

.slider:after {
    content: '\A';
    position: absolute;
    width: 100%; 
    height:100%;
    top:0; 
    left:0;
    background: linear-gradient(rgba(14, 13, 13, 0.849), rgba(14, 13, 13, 0.863));
    opacity: 0.7;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.myslide{
	height: 655px;
	display: none;
	overflow: hidden;
}  

.prev, .next{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	transition: 0.1s;
	user-select: none;
}
.prev:hover, .next:hover{
	color: #00a7ff; /* blue */
}
.next{
	right: 0;
}

.dotsbox{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}
.dot{
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
}

/* javascript */
.active, .dot:hover{
	border-color: #fff; /* blue */
}
/* /javascript */

/* muslide add fade */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;  
}

@-webkit-keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}
/* /muslide add fade */

/* 3 */
.txt{
	position: absolute;
	color: #fff;
	letter-spacing: 5px;
	line-height: 35px;
	top: 35%;
	left: 15%;
	-webkit-animation-name: posi;
  	-webkit-animation-duration: 2s;
  	animation-name: posi;
  	animation-duration: 2s;
	z-index: 1;
}

@-webkit-keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}


@keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}

.txt h5{
	color: #fff; /* blue */
	font-size: 30px;
	margin-bottom: 20px;
  text-shadow: #000 2px 2px 6px;
  
}
.txt h3{
	font-weight: 300;
	font-size: 45px;
  color: rgb(225, 248, 94);
  text-shadow: #000 2px 2px 6px;
}
/* /3 */

/* 4 */
/* img{
	transform: scale(1.5, 1.5);
	-webkit-animation-name: zoomin;
  	-webkit-animation-duration: 40s;
  	animation-name: zoomin;
  	animation-duration: 40s;
}
@-webkit-keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}


@keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
} */
/* /4 */



/* 5 */
@media screen and (max-width: 800px){
	.myslide{
		height: 500px;
	}
	.txt{
		letter-spacing: 2px;
		line-height: 10px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-animation-name: posi2;
		-webkit-animation-duration: 2s;
		animation-name: posi2;
		animation-duration: 2s;
	}

	@-webkit-keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}


	@keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}

	.txt h5{
		font-size: 22px;
    text-align: center;
    
	}
	.txt h3{
		font-size: 26px;
    letter-spacing: 2px;
    line-height: 32px !important;
    text-align: center;
	}
}

/** CONTACT STYLING**/
#fancy-form{
 background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)),url(/image/contact-bg.jpg);
 background-size: cover;
 background-position: center;
 height: 100vh;
}

/* container utility */
#fancy-form .container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* main div */
.form-sections{
  margin-top: 5rem;
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: repeat(2, 1fr);
}

/* Form-left styling */
.Form-left h1{
  color: #fff;
  padding: 0;
  margin: 0;
  text-shadow: 2px 2px 4px #000;
}

.Form-left h4{
  padding: 0;
  margin: 0;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  margin-top: 15px;
}
.line{
  border-bottom: 2px solid rgb(82, 212, 245);
  text-shadow: 2px 2px 4px #000;
  width: 8%;
  margin-left: 0;
}

.paint {
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  margin-top: 40px;
}

.Form-left span{
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000;
  
  
}

.Form-left hr{
  width: 25rem;
  margin-left: 0;
  border: 1px solid rgb(53, 52, 52);
  margin: 5px;
}

/* socail media icons */
.fa {
  padding: 8px;
  font-size: 28px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  /* margin: 5px 2px; */
  color: rgb(187, 182, 182);
  text-shadow: 2px 2px 4px #000;
}

.fa:hover{
  color: rgb(16, 135, 190);
}

/** CONTACT ICON BACKGROUND COLOR **/

/** FOR FACEBOOK **/
#fa:nth-child(1) {
    background-color: #3b5999 !important;
}

/** FOR TWITTER **/
.s-box span:hover:nth-child(2) {
    background-color: #55acee;;
}

/** FOR INSTAGRAM **/
.s-box span:hover:nth-child(3) {
    background-color: #e4405f;
}

/** FOR YOUTUBE **/
.s-box span:hover:nth-child(4) {
    background-color: #cd201f;
}



/* Form Right Styling */
.Form-right h1{
  color: #fff;
  padding: 0;
  margin: 0;
  text-shadow: 2px 2px 4px #000;
}

form{
  padding-top: 2rem;
}

form h5{
  padding: 0;
  margin: 0;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
}
form input{
  padding:0.6rem;
  width: 27rem;
  border-radius: 5px;
  background-color:rgba(16, 16, 17, 0.3);
  color:white;
  border: none;
  outline:none;
  transition: ease-in-out, width .45s ease-in-out;
  box-shadow: 2px 2px 4px #000;
}

 form input:focus {
  border: 1px solid #000;
  
}
form textarea{
  padding:0.6rem;
  width: 27rem;
  border-radius: 5px;
  background-color:rgba(16, 16, 17, 0.3);
  color:white;
  border: none;
  outline:none;
  transition: ease-in-out, width .45s ease-in-out;
  box-shadow: 2px 2px 4px #000;
 }

 form textarea:focus {
  border: 1px solid #000; 
}

 form button{
    width: 9em;
    height: 40px;
    background: transparent;
    padding: 5px;
    outline: none;
    border: 1px solid #000;
    color: #fff;
    font-size: 18px;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 0.9rem;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 4px #000;
    transition: ease-in-out, width .5s ease-in-out;
 }

 form button:hover{
     background-color: rgb(179, 211, 219);
     color: azure;
     width: 90%;
 }

/** CONTACT END**/

h2 {
    color: white;
}

/** GLOBAL ONLY FOR FOOTER **/

span i {
    font-size: 20px;
    cursor: pointer;
}

/** FOOTER STYLING **/

#footer {
    width: 100%;
    min-height: 40vh;
    background-color: #262c34;
    overflow: hidden;
}

/** GRID **/
/** ONLY FOR WEB VIEW **/
#footer .footer-w {
    padding: 0 50px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

/** IMG **/

.imgs  img{
    margin-top: 70px;
    width: 170px;
    margin-left: 90px;
}

/** M-LEFT AND M-RIGHT AND SOCIAL ICONS DIV STYLING **/

.m-left, .m-right, .s-icons {
    margin-top: 50px;
}

.s-icons {
    margin-bottom: 50px;
}


/** SEPERATE STYLING **/

.m-left h2, .m-right h2, .s-icons h2 {
    margin-bottom: 20px;
}

.m-left h2, .m-right h2 {
    font-size: 15px;
}

.m-left .location, .m-right .contact, .s-icons .s-box span {
    color: white;
    text-shadow: 2px 2px 4px #000;
}

.m-left .location {
    margin-bottom: 20px;
}

.m-right .contact {
    margin-bottom: 20px;
}

/** COLOR BG STATE **/

/** FOR FACEBOOK **/
.s-box span:nth-child(1) {
    background-color: #3b5999 !important;
}

/** FOR TWITTER **/
.s-box span:nth-child(2) {
    background-color: #55acee !important;
}

/** FOR INSTAGRAM **/
.s-box span:nth-child(3) {
    background-color: #e4405f !important;
}

/** FOR YOUTUBE **/
.s-box span:nth-child(4) {
    background-color: #cd201f !important;
}
/** SOCIAL ICONS BACKGROUND COLOR AND GAP**/

.s-box span i {
    font-size: 20px;
}

.s-icons .s-box span {
    margin-top: 10px;
    padding: 14px;
    background-color: rgba(128, 128, 128, 0.609);
    cursor: pointer;
    transition: .5s;
    text-shadow: 2px 2px 4px #000;
}

/** HOVER STATE **/

/** FOR FACEBOOK **/
.s-box span:hover:nth-child(1) {
    background-color: #3b5999;
}

/** FOR TWITTER **/
.s-box span:hover:nth-child(2) {
    background-color: #55acee;;
}

/** FOR INSTAGRAM **/
.s-box span:hover:nth-child(3) {
    background-color: #e4405f;
}

/** FOR YOUTUBE **/
.s-box span:hover:nth-child(4) {
    background-color: #cd201f;
}


/** MOBILE AND TAB FRIENDLY RESPONSIVENESS **/
 @media (max-width: 968px){

     #fancy-form .form-sections{
       display: block;
       width: 100%;
       text-align: left;
          }

      /* background image  */
      #fancy-form{
        background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.9)),url(../imgs/particles.jpg);
        background-size: cover;
        background-position: center;
        height: auto;
        width: 100%;
         }

      .form-sections .Form-right{
        margin-top: 2rem;
        margin-bottom: 2rem;
         }

    

    /* socail media icons */
        .fa{
         padding: 8px;
         font-size: 18px;
         width: 30px;
         text-align: center;
         text-decoration: none;
         color: rgb(187, 182, 182);
             }

        form button{
            width: 100%;
            border: 1px solid #fff;
        }
          }

@media only screen and (max-width: 951px) {
    #footer .footer-w { /** ONLY BLOCK PROPERTY **/
        padding: 0 50px;
        display: block;
        /** APPLY TEXT-ALIGN CENTER TO MAKE MORE BEAUTIFUL **/
        text-align: center;
        
    }

    .imgs img {
        
        margin-left: 90px;
        margin-bottom: -60px;
        margin-top: 40px;
    }

}

@media only screen and (min-width: 411px) {


.fly-in-text {  
                position: relative;
                display: inline-flex;
                transform: translateX(-50%) translateY(-40%);
            }

            .fly-in-text li {
                font-size: 18px;
                padding: 2px 1;
               margin-bottom: 220px; 
               
            }

            .wrapper {
              width: 100%;
            }

            .grid-view {
              width: 100%;
            }
  }

  @media screen and (max-width: 520px){
	.txt h1{
		font-size: 30px;
		margin-bottom: 20px;
	}
	.sign{
		margin-right: 20px;
	}
	.sign a{
		font-size: 12px;
	}
}

@media(max-width:800px){
	.left-column,.right-column{
    width: 100%;
    padding: 0px;
	}
}


